<a href="{{ path('meal') }}" class="list-group-item list-group-item-action">Indemnités repas</a>
<a href="{{ path('vacation') }}" class="list-group-item list-group-item-action">Demande de congés</a>
{% if is_granted('ROLE_USER_2') %}
    <a href="{{ path('journey') }}" class="list-group-item list-group-item-action">Indemnités kilométriques</a>
{% endif %}
<a href="{{ path('contact') }}" class="list-group-item list-group-item-action">Nous contacter</a>
{% if is_granted('ROLE_USER_2') %}
<a href="https://www.ovh.com/fr/mail/" target="_blank" class="list-group-item list-group-item-action">Votre boite mail</a>
{% endif %}
