<a href="{{ path('news_add') }}" class="list-group-item list-group-item-action">Ajouter une actualité</a>
<a href="{{ path('news_edit', { 'id': news.id }) }}" class="list-group-item list-group-item-action">Modifier</a>
<a class="list-group-item list-group-item-action" data-toggle="collapse" href="#delete-menu" role="button" aria-expanded="false" aria-controls="delete-menu">
    Supprimer définitivement
</a>
<div class="collapse" id="delete-menu">
    <div class="card card-body d-flex flex-row justify-content-around">
        <a href="{{ path('news_delete', { 'id': news.id }) }}" role="button" class="btn btn-danger delete-confirm" id="delete-confirm">
            Confirmer
        </a>
        <button role="button" class="btn btn-secondary" data-toggle="collapse" href="#delete-menu" role="button" aria-expanded="false" aria-controls="delete-menu">
            Annuler
        </button>
    </div>
</div>