<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
    <title>{% block title %}Idee Services Auvergne - Espace salarié{% endblock %}</title>
    <style type="text/css">
        body { background-color:#f8f9fa;}
        header { padding:10px; background-color:white; display:flex;align-items: center;}
        img{vertical-align:middle;border-style:none;}
        .float-left{float:left!important;}
        #main { padding:20px;}
        #logo{height:75px;margin-right:10px;}
    </style>
</head>
<body>

    <header>
        <img src="{{ absolute_url(asset('assets/logo_idee_22mars.jpg')) }}" alt="IDEE SERVICES AUVERGNE -" id="logo">
        <p>Espace salariés</p>
    </header>

    {% block body %}{% endblock %}
    
</body>
