{% extends 'emails/base.html.twig' %}

{% block title %}Indemnités kilométriques{% endblock %}

{% block body %}
    
    <div id="main" class="">
        <p>Bonjour,</p>

        <p>
            Vous trouverez ci-joint la feuille d'indemnité kilométrique de <strong>{{ user.lastname | upper }} {{ user.firstname | capitalize }}</strong>.
        </p>

        <p>Bonne réception.</p>
    </div>

{% endblock %}
