{% extends 'emails/base.html.twig' %}

{% block title %}Demande de congés{% endblock %}

{% block body %}
    
    <div id="main" class="">
        <p>Bonjour,</p>

        <p>
            Vous trouverez ci-joint la feuille de demande de congés de <strong>{{ user.lastname | upper }} {{ user.firstname | capitalize }}</strong>.
        </p>

        <p>Bonne réception.</p>
    </div>

{% endblock %}
