{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Le serveur a rencontré une erreur</h1>

        <p>Si le problème persiste, contactez votre administrateur.</p>
        <p><a href="{{ path('home') }}">Revenir à la page d'accueil</a></p>
    </div>
{% endblock %}